            /* header */            
            #header {
                margin: 45px 175px 20px 175px;
                height: 77px;
            }
            
            #blue-logo {
                float: left;
            }
            
            #blue-logo img {
                width: 234.67px;
                height: 76.37px;
            }
            
            .eng img {
                width: 24px;
                height: 16px;
            }
            
            .eng {
                border: 1px solid #4F4EFF;
                padding: 10px 10px 10px 8px;
                line-height: 16px;
                margin: 20px auto;
                float: right;
            }
            
            .eng span {
                font-family: #4F4EFF;
                font-size: 16px;
                color: #4F4EFF;
            }
            /* end-header */
            /* main */            
            /* images */
            
            #planet img,
            #orbit img {
                margin-top: 60px;
            }
            
            #planet img {
                width: 202.58px;
                height: 155.47px;
            }
            
            #rocket {
                text-align: center;
            }
            
            #rocket img {
                width: 202.2px;
                height: 109.9px;
                transform: rotate(140deg);
            }
            
            #orbit {
                text-align: right;
            }
            
            #orbit img {
                width: 221px;
                height: 218px;
            }
            
            /* end images */
            /* content */      

            .content h3 {
                color: #4F4EFF;
                font-family: Futura;
                font-size: 50px;
                font-weight: bold;
                text-align: center;
                margin: -50px 0 50px 0;
                letter-spacing: 1.2px
            }
            
            .content p {
                color: #707070;
                width: 100%;
                font-family: Montserrat;
                font-size: 22px;
                text-align: center;
                line-height: 35px;
            }
            
            .content a {
                text-decoration: underline;
            }

            /* end content */
            /* end main */
            /* footer */

            #footer {
                position: relative;
                height: 367px;
                margin-top: 20px;
                padding-top: 65px;
                width: 100%;
                background: url("images/footer-bg.svg") no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-position-y: top;
            }
            
            #footer .planet-inv {
                width: 25%;
                float: left;
                text-align: center;
                padding: 80px 0;
            }
            
            #footer .info {
                width: 50%;
                float: left;
                text-align: center;
                padding: 50px 0 0 0;
            }
            
   
            
            #footer .e-mail ::placeholder {
                color: #B6BBCB;
            }
            
          
            
            #footer .info h3 {
                font-family: Montserrat;
                font-weight: bold;
                font-size: 20px;
                color: #FFFFFF;
            }
            
            #footer .info h4  {
                font-family: Montserrat;
                font-weight: bold;
                font-size: 16px;
                color: #FFFFFF;
            }
            
            #footer .info p {
                font-family: Montserrat;
                font-size: 16px;
                color: #FFFFFF;
            }
            
            #footer .white-logo {
                padding: 50px 0 0 0;
                width: 25%;
                float: left;
                text-align: center;
            }
            
            #footer .white-logo img {
                width: 250px;
                height: 116px;
            }
            
            #footer .white-logo p {
                font-family: Montserrat;
                font-weight: bold;
                font-size: 16px;
                color: #FFFFFF;
                margin:0;
            }
            
            #footer .planet-inv img {
                width: 150px;
                height: 115.13px;
            }
            
            #footer .follow-us img {
                margin:10px;
                border-radius: 3px;
                width: 56.16px;
                height: 56.16px;
            }
            
            #footer .ft {
                float: left;
                width: 100%;
                text-align: center;
                color: #FFFFFF;
                font-family: Montserrat;
                font-weight: bold;
                font-size: 16px;
            }
            /* end footer */
            
            @media screen and (max-width: 992px) {
                #header {
                    margin: 30px 60px;
                    height: 40px;
                }
            
                #blue-logo img {
                    width: 117px;
                    height: 38px;
                }
                .eng {
                    margin: 10px auto;
                    padding: 5px 5px 5px 2px;
                    line-height: 2px;
                }
                .eng span {
                    font-size: 10px;
                }
                .eng img {
                    width: 12px;
                    height: 8px;
                }
          
                .content h3 {
                    margin: 0px 0 50px 0;
                }
            
                #rocket,
                #orbit,
                #planet {
                    text-align: center;
                }
            
                /* footer  */
                #footer {
                    padding: 0;
                    height: -webkit-fill-available
                }
                #footer .planet-inv,
                #footer .info,
                #footer .white-logo {
                    width: 100%;
                    text-align: center;
                }
                /* footer end */
            }
            
            @media (min-width: 320px) and (max-width: 480px) {
                #planet,
                #orbit,
                #rocket {
                    width: 33%;
                }
                #planet img,
                #orbit img,
                #rocket img {
                    width: 100px
                }
                #planet img, #orbit img {
                    margin-top: 30px;
                }
                .content h3 {
                    font-size: 30px;
                    margin-bottom: 10px;
                }
                .content p {
                    font-size: 16px;
                }
                #footer .e-mail input {
                    width: 250px;
                }
            }